In [1]:
import pandas as pd
import pyodbc
import numpy as np
from pandas import ExcelWriter
import datetime

In [2]:
server = 'tcp:192.168.1.6'
database = 'planeamiento'
username = 'sa'
password = 'sa'
cnxn = pyodbc.connect('DRIVER={/opt/microsoft/msodbcsql17/lib64/libmsodbcsql-17.2.so.0.1};SERVER='+server+
                      ';DATABASE='+database+
                      ';UID='+username+
                      ';PWD='+ password)

In [4]:
cursor = cnxn.cursor()
cursor.execute(''' delete from sc3_detalle where tipo_es ='MEDIAS'

                    update sc3_detalle
                    set tipo_es = UPPER(tipo_es)
                    
                    update sc3_detalle
                    set color_es = UPPER(color_es)
               ''') 
cnxn.commit()

In [5]:
cursor.execute(''' update sc3_detalle
                   set tipo_es = 'REMERA'
                   where tipo_es ='T-SHIRT' or tipo_es ='REMERAS'
                    
                   update sc3_detalle
                   set tipo_es = 'CAMPERA'
                   where tipo_es ='CAMPERAS'
                   
                   update sc3_detalle
                   set tipo_es = 'SOUTIEN'
                   where tipo_es ='SOUTIENS'
                   
                   update sc3_detalle
                   set tipo_es = 'CALZA'
                   where tipo_es ='LEGGING'
                   
                   update sc3_detalle
                   set tipo_es = 'CAMISA'
                   where tipo_es ='CAMISAS'
                   
                   update sc3_detalle
                   set tipo_es = 'PANTALON'
                   where tipo_es ='PANTALÓN' or tipo_es ='PANTALONES'
                                      
                   update sc3_detalle
                   set tipo_es = 'BOMBACHA'
                   where tipo_es ='BRAGAS'
                   
                   update sc3_detalle
                   set tipo_es = 'CHAQUETA'
                   where tipo_es ='CHAQUETAS'
                   
                   update sc3_detalle
                   set tipo_es = 'CHALECO'
                   where tipo_es ='CHALECOS'
                   
                   update sc3_detalle
                   set tipo_es = 'CONJUNTO'
                   where tipo_es ='CONJUNTOS'
                   
                   update sc3_detalle
                   set tipo_es = 'DEPORTIVO'
                   where tipo_es ='DEPORTIVOS' or tipo_es ='FITNESS'
                   
                   
                   update sc3_detalle
                   set tipo_es = 'FALDA'
                   where tipo_es ='FALDAS'
                   
                   update sc3_detalle
                   set tipo_es = 'JEAN'
                   where tipo_es ='JEANS' or tipo_es ='JEGGING'
                   
                   update sc3_detalle
                   set tipo_es = 'LENCERIA'
                   where tipo_es ='LENCERÍA'
                   
                   update sc3_detalle
                   set tipo_es = 'BLUSA'
                   where tipo_es ='MANGA CORTA'
                  
                   
                   
               ''') 
cnxn.commit()

In [4]:
DISTINCT_TIPO = '''SELECT DISTINCT tipo_es,origen from sc3_detalle'''
DISTINCT_TIPO = pd.read_sql(DISTINCT_TIPO,cnxn)

In [6]:
sorted(DISTINCT_TIPO.tipo_es.unique())

['ABRIGOS Y CHAQUETAS',
 'BERMUDA',
 'BERMUDAS Y SHORTS',
 'BLAZER',
 'BLAZERS + KIMONOS',
 'BLUSA',
 'BLUSAS Y CAMISETAS',
 'BLUSAS Y SWEATERS',
 'BODY',
 'BOMBACHA',
 'BOMBACHAS',
 'BOXERS',
 'BUZO',
 'CALZA',
 'CALZONCILLOS',
 'CAMISA',
 'CAMISAS + BLUSAS',
 'CAMISETAS',
 'CAMISONES',
 'CAMPERA',
 'CAMPERAS',
 'CARDIGAN',
 'CASUAL',
 'CAZADORA',
 'CHALECO',
 'CHAQUETA',
 'CONJUNTO',
 'CONJUNTOS',
 'CORSET Y CAMISAS',
 'CULOTTE',
 'DEPORTIVO',
 'FALDA',
 'FALDAS',
 'FITNESS',
 'FORMADORES Y REDUCTORES',
 'JEAN',
 'JEGGING',
 'LENCERIA',
 'LENCERÍA',
 'MALLAS',
 'MODA PLAYA',
 'MONO',
 'MONOS Y JARDINEROS',
 'MONTGOMERY',
 'MUSCULOSA',
 'MUSCULOSAS',
 'PALAZZO',
 'PANTALON',
 'PANTALONES',
 'PANTALÓN',
 'PIJAMAS',
 'PIJAMAS Y SHORT DOLLS',
 'REMERA',
 'REMERAS',
 'ROPA DE DORMIR',
 'ROPA DEPORTIVA',
 'ROPA INTERIOR',
 'RUANA',
 'SACO',
 'SACÓN',
 'SHORT',
 'SHORTS',
 'SOBRETODO',
 'SOUTIEN',
 'SOUTIENS',
 'SUDADERAS',
 'SWEATER',
 'SWEATERS',
 'T-SHIRT',
 'TAPADOS',
 'TEJIDOS',
 'TOGAS Y BATAS',
 'TOP',
 'TRAJE',
 'TRAJES DE BAÑO',
 'TÚNICA',
 'VESTIDO',
 'VESTIDOS',
 'VESTIDOS + MONOS',
 'VESTIMENTA']

In [19]:
RESPALDO = '''SELECT * from sc3_detalle'''
RESPALDO = pd.read_sql(RESPALDO,cnxn)

In [112]:
len(RESPALDO)

853467